<launch>
  <arg name="controller" default="medium"/>
  <rosparam file="$(find centauro_control)/config/compliance_gains_high.yaml" command="load" if="$(eval controller == 'high')"/>
  <rosparam file="$(find centauro_control)/config/compliance_gains_medium.yaml" command="load" if="$(eval controller == 'medium')"/>
  <rosparam file="$(find centauro_control)/config/compliance_gains_low.yaml" command="load" if="$(eval controller == 'low')"/>

  <arg name="head_actuators" default="false"/>
  <arg name="torso_actuators" default="false"/>
  <arg name="arm_actuators"  default="false"/>
  <arg name="leg_actuators" default='false'/>
  <arg name="wheels_actuators" default="false"/>
  <arg name="one_arm" default="false"/>

  <arg name="torso" value="$(eval 2 if torso_actuators and not one_arm else 1)"/>
  <arg name="legs" value="$(eval 40 if leg_actuators and not one_arm else 16)"/>
  <arg name="arm1" value="$(eval 9 if (arm_actuators and torso_actuators) or one_arm else 2)"/>
  <arg name="arm2" value="$(eval 16 if (arm_actuators and torso_actuators and not one_arm) else 9)"/>
  <arg name="head" value="$(eval 43 if (head_actuators and torso_actuators and not one_arm) else 40)"/>
  <arg name="wheels" value="$(eval 9 if leg_actuators and wheels_actuators and not one_arm else 1)"/>


  <arg name="compliance_active" value="$(eval list(set(range(1, 43))-
                                                   set(range(1, torso)+range(2, arm1)+range(9, arm2)+range(16,legs)+range(40,head))
                                                  ))"/>

  <arg name="wheels_active" value="$(eval list(set(range(1, 9))-
                                               set(range(1,wheels))
                                              ))"/>


  <rosparam command="delete" param="omit" ns="/centauro/position_controller" />
  <rosparam command="delete" param="omit" ns="/centauro/wheels_controller" />

  <rosparam param="omit" subst_value="True" ns="/centauro/position_controller">
        $(arg compliance_active)
  </rosparam>
  <rosparam param="omit" subst_value="True" ns="/centauro/wheels_controller">
        $(arg wheels_active)
  </rosparam>

  <node name="position_controller_spawner" pkg="controller_manager" type="spawner"
    respawn="true" output="screen" ns="/centauro"
    args="position_controller"/>


</launch>
