<launch>
  <arg name="controller" default="medium"/>

  <rosparam file="$(find centauro_control)/config/compliance_gains_high_new.yaml" command="load" if="$(eval controller == 'high')"/>
  <rosparam file="$(find centauro_control)/config/compliance_gains_medium_new.yaml" command="load" if="$(eval controller == 'medium')"/>
  <rosparam file="$(find centauro_control)/config/compliance_gains_static.yaml" command="load" if="$(eval controller == 'static')"/>
  <rosparam file="$(find centauro_control)/config/compliance_gains_low.yaml" command="load" if="$(eval controller == 'low')"/>

  <arg name="head_actuators" default="false"/>
  <arg name="torso_actuators" default="false"/>
  <arg name="left_arm_actuators"  default="false"/>
  <arg name="right_arm_actuators"  default="false"/>
  <arg name="leg_actuators" default='false'/>
  <arg name="wheels_actuators" default="false"/>

  <arg name="torso" value="$(eval 2 if torso_actuators else 1)"/>
  <arg name="legs" value="$(eval 36 if leg_actuators else 16)"/>
  <arg name="arm1" value="$(eval 9 if  left_arm_actuators and torso_actuators else 2)"/>
  <arg name="arm2" value="$(eval 16 if right_arm_actuators and torso_actuators else 9)"/>
  <arg name="head" value="$(eval 38 if head_actuators and torso_actuators else 36)"/>

  <arg name="wheels" value="$(eval 5 if  leg_actuators and wheels_actuators else 1)"/>
  <arg name="head_vel" value="$(eval 6 if head_actuators and torso_actuators else 5)"/>

  <arg name="compliance_active" value="$(eval list(set(range(1, 38))-
                                                   set(range(1, torso)+range(2, arm1)+range(9, arm2)+range(16,legs)+range(36,head))
                                                  ))"/>

  <arg name="wheels_active" value="$(eval list(set(range(1, 6))-
                                               set(range(1, wheels)+range(5, head_vel))
                                              ))"/>


  <rosparam command="delete" param="omit" ns="/centauro/position_controller" />
  <rosparam command="delete" param="omit" ns="/centauro/velocity_controller" />

  <rosparam param="omit" subst_value="True" ns="/centauro/position_controller">
        $(arg compliance_active)
  </rosparam>
  <rosparam param="omit" subst_value="True" ns="/centauro/velocity_controller">
        $(arg wheels_active)
  </rosparam>

  <node name="position_controller_spawner" pkg="controller_manager" type="spawner"
    respawn="true" output="screen" ns="/centauro"
    args="position_controller"/>

  <node name="velocity_controller_spawner" pkg="controller_manager" type="spawner"
    respawn="true" output="screen" ns="/centauro"
    args="velocity_controller"/>

</launch>
